:host {
   display: block;
 }

 .Agent,
 .Chatbot {
   color: #000000;
   background-color: #e7e7e7;
   border-radius: 10px 10px 10px 0;
   float: left;
   padding: 0.5em;
 }

 .EndUser {
   background-color: #005290;
   color: black;
   margin-left: auto;
   padding: 0.5em;
   border-radius: 10px 10px 0 10px;
 }

 lightning-formatted-text {
   font-size: 0.875em;
 }